<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>

	<script type="text/x-template" id="resources-template">
		<div id="mainright">
			<div id="resourceDetailInfo" class="pull-left" style="border-left: 2px solid #ccc;height: 100%;padding:20px;">
				<div style="text-align: left;padding-bottom: 20px;width: 100%">
					<a href="javascript:void(0)" v-on:click="openEditDlg()" class="layui-btn layui-btn-warm layui-btn-sm" style="width: 100px;">新增</a>
				</div>
				<form>
					接口地址：
					<input type="text" style="width: 200px;border:1px solid #ccc;height: 25px;" v-model="searchParam.path" /> 接口概要：
					<input type="text" style="width: 200px;border:1px solid #ccc;height: 25px;" v-model="searchParam.summary" /> 服务名：
					<input type="text" style="width: 200px;border:1px solid #ccc;height: 25px;" v-model="searchParam.serviceName" />
					<a href="javascript:void(0)" v-on:click="refreshPage(1)" class="tablelink">搜索</a>
					<a href="javascript:void(0)" v-on:click="clearSearch()" class="tablelink">清空</a>
				</form>
				<table class="tablelist">
					<thead>
						<tr>
							<th width="150">接口地址</th>
							<th width="150">接口类型</th>
							<th width="150">请求方式</th>
							<th width="150">所属服务</th>
							<th width="300">查看</th>
							<th width="150">操作</th>
							<th width="150" style="display: none">接口详细说明</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="x in resourcesList.list">
							<td>{{x.path}}</td>
							<td>{{x.type}}</td>
							<td>{{x.reqMethod}}</td>
							<td>{{x.serviceName}}</td>
							<td>
								<a href="javascript:void(0)" v-on:click="showRoles(1, x.id)" class="tablelink">角色</a>
							</td>
							<td>
								<a href="javascript:void(0)" v-on:click="openEditDlg(x)" class="tablelink">修改</a>
								<a href="javascript:void(0)" v-on:click="deleteRecord(x.id)" class="tablelink">删除</a>
							</td>
							<td style="display: none">{{x.description}}</td>
						</tr>

					</tbody>
				</table>
				<div id="resListPagebar" v-layui-pagebar="{pageData: resourcesList, jump: refreshPage}"></div>
			</div>

			<!-- 资源所属的角色列表 -->
			<div id="resRolesDlg" style="display:none">
				<table class="tablelist">
					<thead>
						<tr>
							<th width="150">角色名名称</th>
							<th width="150">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="x in resInRoles.list">
							<td>{{x.name}}</td>
							<td>
								<a href="javascript:void(0)" v-on:click="deleteResFromRole(x.id)" class="tablelink">删除</a>
							</td>
							<td style="display: none">{{x.description}}</td>
						</tr>

					</tbody>
				</table>
				<pagebar-simple :pageHelperData="resInRoles" v-on:gotoPage="showRoles"></pagebar-simple>
			</div>
			<!-- 资源编辑窗口 -->
			<div id="editResourceDlg" style="display: none">
				<div style="margin-top:10px;"></div>
				<table style="width: 100%" class="tablelist">
					<tr>
						<th style="height: 40px">ID：</th>
						<td>{{editResInfo.id}}</td>
					</tr>
					<tr>
						<th style="height: 40px">服务名(区分大小写)：</th>
						<td>
							<input type="text" style="width: 200px;border:1px solid #ccc;height: 25px;" v-model="editResInfo.serviceName" />
						</td>
					</tr>
					<tr>
						<th style="height: 40px">接口类型：</th>
						<td>
							<select v-model="editResInfo.type">
								<option value="API">API</option>
								<option value="PAGE">页面</option>
								<option value="AUTH">权限</option>
							</select>
						</td>
					</tr>
					<tr>
						<th style="height: 40px">接口地址：</th>
						<td>
							<input type="text" style="width: 200px;border:1px solid #ccc;height: 25px;" v-model="editResInfo.path" />
						</td>
					</tr>
					<tr>
						<th style="height: 40px">请求方式：</th>
						<td>
							<select v-model="editResInfo.reqMethod">
								<option value="GET">GET</option>
								<option value="POST">POST</option>
								<option value="PUT">PUT</option>
								<option value="DELETE">DELETE</option>
							</select>
						</td>
					</tr>
					<tr>
						<th style="height: 40px">权限对应标识：</th>
						<td>
							<input type="text" style="width: 200px;border:1px solid #ccc;height: 25px;" v-model="editResInfo.pageName" />
						</td>
					</tr>
					<tr>
						<th style="height: 40px">接口概要：</th>
						<td>
							<input type="text" style="width: 200px;border:1px solid #ccc;height: 25px;" v-model="editResInfo.summary" />
						</td>
					</tr>
					
					<tr>
						<th style="height: 40px">接口详细说明：</th>
						<td>
							<textarea style="width: 200px;border:1px solid #ccc;height: 60px;" v-model="editResInfo.description"></textarea>
						</td>
					</tr>
					<tr>
						<th style="height: 40px">扩展参数(json)：</th>
						<td>
							<textarea style="width: 200px;border:1px solid #ccc;height: 60px;" v-model="editResInfo.extJson"></textarea>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</script>